<!DOCTYPE html>
<html lang="en">

<head>
    <title>Todo Lists</title>
</head>

<body>
    <main>
        <div>
            <h1>{{ todolist.name }}</h1>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in list_todos %}
                    <tr>
                        <td>{{ task }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>