<!DOCTYPE html>
<html lang="en">

<head>
    <title>Todo Lists</title>
</head>

<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <div>
                <h1>
                    <a href="{% url 'create_todolist' %}">Create a new list</a>
                </h1>
                <h1>
                    <a href="{% url 'update_todolist' %}">Edit</a>
                </h1>
                <h1>
                    <a href="{% url 'delete_todolist' %}">Delete</a>
                </h1>
                <h1>
                    <a href="{% url 'create_todoitem' %}">Create new item</a>
                </h1>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for name in list_todos %}
                    <tr>
                        <td><a href="{% url 'show_todolist' item.pk %}">{{ item.name }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>